<div> <%= form_for(@job) do |f| %>
  <%= f.label :role %>
  <%= f.text_field :role %> <br><br>
  <%= f.label :location %>
  <%= f.text_field :location%><br><br>
  <%= f.label :contract %>
  <%= f.text_field :contract %><br><br>
  <%= f.label :rate %>
  <%= f.text_field :rate%><br><br>
  <%= f.label :sector %>
  <%= f.text_field :sector %><br><br>
  <%= f.submit %>
<% end %> </div>
