
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Keyman</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to 'Home', root_path %> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Featured Jobs', jobs_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Clients', "2" %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"><%= link_to 'Candidates', "d"%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Projects', "d"%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Key Values', "d"%></a>
      </li>
      <% if current_user %>
              <li class="text-muted logoutbtn"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="text-muted logoutbtn"><%= link_to 'Log in', new_user_session_path %></li>
            <% end %>
    </ul>
  </div>
</nav>
